<mat-tab-group>
  <mat-tab label="Estado">
    <div>
      <span class="title">Monto Disponible: {{totalAmount | currency: "COP "}}</span>
    </div>
    <div class="bills-section">
      <div class="bill-container" *ngFor="let b of amounts">
        <img src="/images/bills/anverso{{b.denomination}}.png">
        <div class="bill-info-quantity">{{b.quantity}}</div>
        <div class="bill-info-amount">{{b.amount | currency: "COP "}}</div>
      </div>
    </div>

    <div class="withdraw-section">

    </div>
  </mat-tab>
  <mat-tab label="Historial"> Content 2 </mat-tab>
</mat-tab-group>
